<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 theiaStickySidebar">
          <div class="card">
            <div class="card-body">
              <form (submit)="(routes.services)">
                <div
                  class="d-flex align-items-center justify-content-between mb-3 pb-3 border-bottom"
                >
                  <h5><i class="ti ti-filter-check me-2"></i>Filtres</h5>
                  <a href="javascript:void(0);">Réinitialiser le filtre</a>
                </div>
                <div class="mb-3 pb-3 border-bottom">
                  <label class="form-label">Localisation</label>
                  <div class="mb-3">
                    <div class="position-relative">
                      <label class="form-label">{{
                        geoLocation | geolocation
                      }}</label>
                      <a
                        href="javascript:void(0);"
                        data-bs-toggle="modal"
                        data-bs-dismiss="modal"
                        data-bs-target="#geolocation_modal"
                        class="link-primary text-decoration-underline fs-14"
                        >Selectionner</a
                      >
                      <span class="icon-addon"
                        ><i class="ti ti-map-pin"></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 pb-3 border-bottom">
                  <label class="form-label">Recherche par mot-clé</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Que cherchez-vous?"
                  />
                </div>
                <div class="accordion border-bottom mb-3">
                  <div class="accordion-item mb-3">
                    <div class="accordion-header" id="accordion-headingThree">
                      <div
                        class="accordion-button p-0 mb-3"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordion-collapseThree"
                        aria-expanded="true"
                        aria-controls="accordion-collapseThree"
                        role="button"
                      >
                        Catégories
                      </div>
                    </div>
                    <div
                      id="accordion-collapseThree"
                      class="accordion-collapse collapse show"
                      aria-labelledby="accordion-headingThree"
                    >
                      <div
                        class="content-list mb-3"
                        id="fill-more"
                        [ngStyle]="{ height: isCollapsed ? 'auto' : '150px' }"
                      >
                        <div class="form-check mb-2">
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              checked
                            />
                            Toutes les Catégories
                          </label>
                        </div>
                        @for(category of categories; track category.id) {
                        <div class="form-check mb-2">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" />
                            {{ category.name }}
                          </label>
                        </div>
                        }
                      </div>
                      <a
                        href="javascript:void(0);"
                        (click)="toggleCollapse()"
                        id="more"
                        class="more-view text-primary fs-14"
                        >{{ !isCollapsed ? "View more" : "View less" }}
                        <i class="ti ti-chevron-down ms-1"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="accordion border-bottom mb-3">
                  <div class="accordion-header" id="accordion-headingSix">
                    <div
                      class="accordion-button p-0 mb-3"
                      data-bs-toggle="collapse"
                      data-bs-target="#accordion-collapseSix"
                      aria-expanded="true"
                      aria-controls="accordion-collapseSix"
                      role="button"
                    >
                      Gamme de prix
                    </div>
                  </div>
                  <div
                    id="accordion-collapseSix"
                    class="accordion-collapse collapse show"
                    aria-labelledby="accordion-headingSix"
                  >
                    <div class="filter-range">
                      <mat-slider
                        min="200"
                        max="500"
                        discrete
                        [displayWith]="formatLabel"
                      >
                        <input value="300" matSliderStartThumb />
                        <input value="400" matSliderEndThumb />
                      </mat-slider>
                    </div>
                    <div class="filter-range-amount mb-3">
                      <p class="fs-14">Prix: <span>$5 - $210</span></p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="accordion-item mb-3">
                    <div class="accordion-header" id="accordion-headingTwo">
                      <div
                        class="accordion-button fs-18 p-0 mb-3"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordion-collapseTwo"
                        aria-expanded="true"
                        aria-controls="accordion-collapseTwo"
                        role="button"
                      >
                        Notes
                      </div>
                    </div>
                    <div
                      id="accordion-collapseTwo"
                      class="accordion-collapse collapse show"
                      aria-labelledby="accordion-headingTwo"
                    >
                      <div class="mb-3">
                        <div class="form-check mb-2">
                          <label class="form-check-label d-block">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              checked
                            />
                            <span class="rating">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i
                              ><span class="float-end">(55)</span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check mb-2">
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" />
                            <span class="rating">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i
                              ><span class="float-end">(48)</span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check mb-2">
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" />
                            <span class="rating">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i
                              ><span class="float-end">(13)</span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check mb-2">
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" />
                            <span class="rating">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i
                              ><span class="float-end">(05)</span>
                            </span>
                          </label>
                        </div>
                        <div class="form-check mb-2">
                          <label class="form-check-label d-block">
                            <input class="form-check-input" type="checkbox" />
                            <span class="rating">
                              <i class="fas fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i>
                              <i class="fa-regular fa-star filled"></i
                              ><span class="float-end">(00)</span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark w-100">
                  Recherche
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8">
          <div
            class="d-flex justify-content-between align-items-center flex-wrap mb-4"
          >
            <h4><span class="text-primary">11 services </span> trouvés</h4>
            <div class="d-flex align-items-center">
              <span class="text-dark me-2">Trier</span>
              <div class="dropdown me-2">
                <a
                  href="javascript:void(0);"
                  class="dropdown-toggle bg-light-300"
                  data-bs-toggle="dropdown"
                >
                  Prix du plus bas au plus élevé
                </a>
                <div class="dropdown-menu">
                  <a href="javascript:void(0);" class="dropdown-item active"
                    >Prix du plus bas au plus élevé</a
                  >
                  <a href="javascript:void(0);" class="dropdown-item"
                    >Prix du plus élevé au plus bas</a
                  >
                </div>
              </div>
              <span
                (click)="setListView(false)"
                [ngClass]="{
                    'tags d-flex justify-content-center align-items-center rounded me-2 btn': true,
                    ' bg-primary ': !listView,
                  }"
                ><i class="ti ti-layout-grid"></i
              ></span>
              <span
                (click)="setListView(true)"
                [ngClass]="{
                    'tags d-flex justify-content-center align-items-center rounded me-2 btn': true,
                    ' bg-primary ': listView,
                  }"
                ><i class="ti ti-list"></i
              ></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              @if (listView) {
              <services-list [services]="services"></services-list>
              } @else {
              <services-grid [services]="services"></services-grid>
              }
            </div>
          </div>
          <nav aria-label="Page navigation">
            <ul
              class="paginations d-flex justify-content-center align-items-center"
            >
              <li class="page-item me-3">
                <a class="page-link"
                  ><i class="ti ti-arrow-left me-2"></i>Précédent</a
                >
              </li>
              <li class="page-item me-2">
                <a
                  class="page-link-1 active d-flex justify-content-center align-items-center"
                  href="javascript:void(0);"
                  >1</a
                >
              </li>
              <li class="page-item me-2">
                <a
                  class="page-link-1 d-flex justify-content-center align-items-center"
                  href="javascript:void(0);"
                  >2</a
                >
              </li>
              <li class="page-item me-3">
                <a
                  class="page-link-1 d-flex justify-content-center align-items-center"
                  href="javascript:void(0);"
                  >3</a
                >
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0);"
                  >Suivant<i class="ti ti-arrow-right ms-2"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
<div
  class="modal fade modal-xl"
  id="geolocation_modal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <app-geo-location [parentControl]="true"></app-geo-location>
      </div>
    </div>
  </div>
</div>
