<!-- Service List -->
<div class="service-list">
  <div class="service-cont">
    <div class="service-cont-img">
      <a [routerLink]="routes.serviceDetails">
        <img
          class="img-fluid serv-img"
          alt="Service Image"
          src="assets/img/services/service-04.jpg"
        />
      </a>
      <div class="fav-item">
        <a
          href="javascript:void(0)"
          class="fav-icon"
          (click)="toggleClass(1)"
          (keydown)="toggleClass(1)"
          [ngClass]="{ selected: isClassAdded[1] }"
        >
          <i class="feather icon-heart"></i>
        </a>
      </div>
    </div>
    <div class="service-cont-info">
      <span class="badge bg-light fs-14 mb-2">Car Wash</span>
      <h3 class="title">
        <a [routerLink]="routes.serviceDetails">Car Repair Services</a>
      </h3>
      <p><i class="feather icon-map-pin"></i>Maryland City, MD, USA</p>
      <div class="service-pro-img">
        <img src="assets/img/profiles/avatar-01.jpg" alt="user" />
        <span><i class="fas fa-star filled"></i>4.9</span>
      </div>
    </div>
  </div>
  <div class="service-action">
    <h6>$25.00<span class="old-price">$35.00</span></h6>
    <a [routerLink]="routes.booking" class="btn btn-light">Book Now</a>
  </div>
</div>
<!-- /Service List -->

<!-- Service List -->
<div class="service-list">
  <div class="service-cont">
    <div class="service-cont-img">
      <a [routerLink]="routes.serviceDetails">
        <img
          class="img-fluid serv-img"
          alt="Service Image"
          src="assets/img/services/service-02.jpg"
        />
      </a>
      <div class="fav-item">
        <a
          href="javascript:void(0)"
          class="fav-icon"
          (click)="toggleClass(2)"
          (keydown)="toggleClass(2)"
          [ngClass]="{ selected: isClassAdded[2] }"
        >
          <i class="feather icon-heart"></i>
        </a>
      </div>
    </div>
    <div class="service-cont-info">
      <span class="badge bg-light fs-14 mb-2">Construction</span>
      <h3 class="title">
        <a [routerLink]="routes.serviceDetails"
          >Toughened Glass Fitting Services</a
        >
      </h3>
      <p><i class="feather icon-map-pin"></i>New Jersey, USA</p>
      <div class="service-pro-img">
        <img src="assets/img/profiles/avatar-02.jpg" alt="User" />
        <span><i class="fas fa-star filled"></i>4.9</span>
      </div>
    </div>
  </div>
  <div class="service-action">
    <h6>$30.00<span class="old-price">$35.00</span></h6>
    <a [routerLink]="routes.booking" class="btn btn-light">Book Now</a>
  </div>
</div>
<!-- /Service List -->

<!-- Service List -->
<div class="service-list">
  <div class="service-cont">
    <div class="service-cont-img">
      <a [routerLink]="routes.serviceDetails">
        <img
          class="img-fluid serv-img"
          alt="Service Image"
          src="assets/img/services/service-06.jpg"
        />
      </a>
      <div class="fav-item">
        <a
          href="javascript:void(0)"
          class="fav-icon"
          (click)="toggleClass(3)"
          (keydown)="toggleClass(3)"
          [ngClass]="{ selected: isClassAdded[3] }"
        >
          <i class="feather icon-heart"></i>
        </a>
      </div>
    </div>
    <div class="service-cont-info">
      <span class="badge bg-light fs-14 mb-2">Computer</span>
      <h3 class="title">
        <a [routerLink]="routes.serviceDetails"
          >Computer &amp; Server AMC Service</a
        >
      </h3>
      <p><i class="feather icon-map-pin"></i>California, USA</p>
      <div class="service-pro-img">
        <img src="assets/img/profiles/avatar-05.jpg" alt="User" />
        <span><i class="fas fa-star filled"></i>4.9</span>
      </div>
    </div>
  </div>
  <div class="service-action">
    <h6>$30.00<span class="old-price">$35.00</span></h6>
    <a [routerLink]="routes.booking" class="btn btn-light">Book Now</a>
  </div>
</div>
<!-- /Service List -->

<!-- Service List -->
<div class="service-list">
  <div class="service-cont">
    <div class="service-cont-img">
      <a [routerLink]="routes.serviceDetails">
        <img
          class="img-fluid serv-img"
          alt="Service Image"
          src="assets/img/services/service-07.jpg"
        />
      </a>
      <div class="fav-item">
        <a
          href="javascript:void(0)"
          class="fav-icon"
          (click)="toggleClass(4)"
          (keydown)="toggleClass(4)"
          [ngClass]="{ selected: isClassAdded[4] }"
        >
          <i class="feather icon-heart"></i>
        </a>
      </div>
    </div>
    <div class="service-cont-info">
      <span class="badge bg-light fs-14 mb-2">Interior</span>
      <h3 class="title">
        <a [routerLink]="routes.serviceDetails">Interior Designing</a>
      </h3>
      <p><i class="feather icon-map-pin"></i>Maryland, USA</p>
      <div class="service-pro-img">
        <img src="assets/img/profiles/avatar-06.jpg" alt="User" />
        <span><i class="fas fa-star filled"></i>4.9</span>
      </div>
    </div>
  </div>
  <div class="service-action">
    <h6>$15.00<span class="old-price">$25.00</span></h6>
    <a [routerLink]="routes.booking" class="btn btn-light">Book Now</a>
  </div>
</div>
<!-- /Service List -->

<!-- Service List -->
<div class="service-list">
  <div class="service-cont">
    <div class="service-cont-img">
      <a [routerLink]="routes.serviceDetails">
        <img
          class="img-fluid serv-img"
          alt="Service Image"
          src="assets/img/services/service-09.jpg"
        />
      </a>
      <div class="fav-item">
        <a
          href="javascript:void(0)"
          class="fav-icon"
          (click)="toggleClass(5)"
          (keydown)="toggleClass(5)"
          [ngClass]="{ selected: isClassAdded[5] }"
        >
          <i class="feather icon-heart"></i>
        </a>
      </div>
    </div>
    <div class="service-cont-info">
      <span class="badge bg-light fs-14 mb-2">Cleaning</span>
      <h3 class="title">
        <a [routerLink]="routes.serviceDetails">House Cleaning Services</a>
      </h3>
      <p><i class="feather icon-map-pin"></i>Georgia</p>
      <div class="service-pro-img">
        <img src="assets/img/profiles/avatar-09.jpg" alt="User" />
        <span><i class="fas fa-star filled"></i>4.9</span>
      </div>
    </div>
  </div>
  <div class="service-action">
    <h6>$55.00<span class="old-price">$60.00</span></h6>
    <a [routerLink]="routes.booking" class="btn btn-light">Book Now</a>
  </div>
</div>
<!-- /Service List -->

<!-- Service List -->
<div class="service-list">
  <div class="service-cont">
    <div class="service-cont-img">
      <a [routerLink]="routes.serviceDetails">
        <img
          class="img-fluid serv-img"
          alt="Service Image"
          src="assets/img/services/service-10.jpg"
        />
      </a>
      <div class="fav-item">
        <a
          href="javascript:void(0)"
          class="fav-icon"
          (click)="toggleClass(6)"
          (keydown)="toggleClass(6)"
          [ngClass]="{ selected: isClassAdded[6] }"
        >
          <i class="feather icon-heart"></i>
        </a>
      </div>
    </div>
    <div class="service-cont-info">
      <span class="badge bg-light fs-14 mb-2">Construction</span>
      <h3 class="title">
        <a [routerLink]="routes.serviceDetails"
          >Building Construction Services</a
        >
      </h3>
      <p><i class="feather icon-map-pin"></i>Montana, USA</p>
      <div class="service-pro-img">
        <img src="assets/img/profiles/avatar-09.jpg" alt="User" />
        <span><i class="fas fa-star filled"></i>4.9</span>
      </div>
    </div>
  </div>
  <div class="service-action">
    <h6>$45.00<span class="old-price">$50.00</span></h6>
    <a [routerLink]="routes.booking" class="btn btn-light">Book Now</a>
  </div>
</div>
<!-- /Service List -->
