<div
  class="d-flex justify-content-center vh-100 overflow-auto flex-column error-404"
>
  <div class="contacts-overlay-img d-none d-md-block">
    <img src="assets/img/bg/bg-07.png" alt="img" class="img-fluid" />
  </div>
  <div class="main-wrapper">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <div class="text-center">
            <img class="w-25 h-25" src="assets/logo/logo.svg" alt="logo" />
          </div>
        </div>
        <div class="col-md-12 d-flex align-items-center justify-content-center">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
